<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" href="../static/img/favicon.ico">
    <title>Sowsy</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/"><img src="../static/img/emblemmatic-sowsy-logo-24.png" alt="Sowsy-logo"></a></li>
                <li><a href="">検索🔎</a></li>
                <li><a href="">会員登録</a></li>
                <li><a href="">ログイン</a></li>
                <li><a href="">ログアウト</a></li>
            </ul>
            
        </nav>
        
        
    </header>
    
    <h2>プログラミング初学者がせっかくプログラミングを習得したのに「何を作ったらいいの？」「何ができるの？」という悩みを解決するためにプログラミング初心者が作成した掲示板です。</h2>
    {% block content %}
<!-- ここにメインコンテンツを書く -->
    

    {% endblock %}
    
</body>
</html>